<?xml version="1.0"?>
<config>
    <modules>
        <BT_Billdesk>
            <version>0.1.0</version>
        </BT_Billdesk>
    </modules>
    <frontend>
        <routers>
            <billdesk>
                <use>standard</use>
                <args>
                    <module>BT_Billdesk</module>
                    <frontName>billdesk</frontName>
                </args>
            </billdesk>
        </routers>
        <layout>
            <updates>
                <billdesk>
                    <file>billdesk.xml</file>
                </billdesk>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<billdesk>
				<use>admin</use>
				<args>
					<module>BT_Billdesk</module>
					<frontName>billdesk</frontName>
				</args>
			</billdesk>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<BT_Billdesk>
							<title>Billdesk Module</title>
							<sort_order>10</sort_order>
						</BT_Billdesk>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<billdesk>
					<file>billdesk.xml</file>
				</billdesk>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <billdesk>
                <class>BT_Billdesk_Model</class>
                <resourceModel>billdesk_mysql4</resourceModel>
            </billdesk>
            <billdesk_mysql4>
                <class>BT_Billdesk_Model_Mysql4</class>
                <entities>
                    <billdesk>
                        <table>billdesk</table>
                    </billdesk>
                </entities>
            </billdesk_mysql4>
        </models>
        <resources>
            <billdesk_setup>
                <setup>
                    <module>BT_Billdesk</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </billdesk_setup>
            <billdesk_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </billdesk_write>
            <billdesk_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </billdesk_read>
        </resources>
        <blocks>
            <billdesk>
                <class>BT_Billdesk_Block</class>
            </billdesk>
        </blocks>
        <helpers>
            <billdesk>
                <class>BT_Billdesk_Helper</class>
            </billdesk>
        </helpers>
    </global>
    
    <!-- Start for payment -->
	<default>
		<payment>
			<billdesk>
				<model>billdesk/standard</model>
					<active>1</active>
						<order_status>pending</order_status>
							<title>Billdesk</title>
							<payment_action>sale</payment_action>
							<allowspecific>0</allowspecific>
							<sort_order>1</sort_order>
			</billdesk>
		</payment>
	</default>
	
	<!-- End for payment -->
    
    
    
</config>
